

/* Universal styles: */

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	font-family: 'Raleway', sans-serif;
}

/* Element styles: */
hr {
	height: 5px;
	background-color:grey;
	margin-bottom:1em;
}

/* Classes: */


.container {
	margin: 0 auto;
	display: flex;
	flex-flow: row wrap;
}

.banner-content {
	width:100%;
}

/*Id's: */

#logo {
	height: 8em;
	width: 8em;

}

.logo-container {
	width:30%;
}

.name {
	text-align:right;
	width: 70%;
}

.portfolio-item {
	text-align: center;
}

