hr {
    width: 700px;
}

.container {
    width: 700px;
}

.portfolio-item {
    width: calc(33% - 15px);
    height: 340px;
    margin-left:15px;
}

.portfolio-item img {
    margin-top:20px;
    width: 200px;
    height: 200px;
}